.description {
    margin-top: 2em;
}
.description-icon, .description-content {
    display: inline-block;
}
.description-icon {
    width: 25%;
    vertical-align: top;
    img {
        @include circled-image;
    }
}

// When icon is before content
.description-icon:first-child {
    margin-right: 2em;
}
.description-content:not(:first-child) {
    text-align: right;
}

// When content is before icon
.description-icon:not(:first-child) {
    margin-left: 2em;
}
.description-content:first-child {
    text-align: left;
}

.description-content {
    width: 70%;
}


h2 {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@include media-query($on-palm) {
    .description-icon {
        display: none;
    }
    .description-content {
        display: block;
        width: 100%;
        text-align: left !important;
    }
}

/* navbar at top */
.description-nav {
    text-align: center;
    margin-top: -8pt;
    margin-bottom: 24pt;
    .title {
        font-size: smaller;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 4pt;
    }
    a {
        border-radius: 4pt;
        border: thin rgba(0, 0, 0, 0.25) solid;
        padding: 4pt 8pt;
        margin: 0;
        &:not(:first-of-type) {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            border-left: none;
        }
        &:not(:last-of-type) {
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
        text-decoration: none;
    }
}
