.description {
    margin-bottom: 2em;
}
.description-icon, .description-content {
    display: inline-block;
}
.description-icon {
    width: 25%;
    vertical-align: top;
    img {
        border-radius: 100%;
        box-shadow: 0 0 16pt 0 rgba(0, 0, 0, 0.2), 0 0 4pt 0 rgba(0, 0, 0, 0.1) inset;
    }
}

// When icon is before content
.description-icon:first-child {
    margin-right: 2em;
}
.description-content:not(:first-child) h2 {
    text-align: right;
}

// When content is before icon
.description-icon:not(:first-child) {
    margin-left: 2em;
}
.description-content:first-child h2 {
    text-align: left;
}

.description-content {
    width: 70%;
    text-align: justify;
}


h2 {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@include media-query($on-palm) {
    .description-icon {
        display: none;
    }
    .description-content {
        display: block;
        width: 100%;
        text-align: left;
    }
}
