.portrait-holder {
    display: inline-block;
    float: right;
    margin-left: 1em;
    img {
        @include circled-image;
    }
    @include media-query($on-palm) {
        display: none;
    }
}
.clearfix { @extend %clearfix; }

.quicknav {
    display: block;
    width: 100%;
    text-align: center;

    > a {
        vertical-align: top;

        $num-boxes: 2;
        $margin: 1%;

        width: calc((100% - #{$margin} * (#{$num_boxes} + 1 /* ??? */) * 2) / #{$num-boxes});
        color: $text-color;
        margin: 0 $margin;
        margin-bottom: 1em;
        display: inline-block;
        text-align: center;
        border-radius: 1em;
        background: rgba(0, 0, 0, 0.05);
        transition: background 0.1s;
        box-shadow: none;

        &:hover {
            text-decoration: none;
            background: rgba(0, 0, 0, 0.15);
        }
        
        @include media-query($on-palm) {
            display: block;
            width: 100%;
            margin-bottom: 0;
            &:not(:last-child) {
                margin-bottom: 1em;
            }
            padding-bottom: 1px;
        }
    }
    h3 {
        text-align: center;
        text-transform: uppercase;
        padding-top: 0.5em;
    }
    img {
        height: 4em;
        margin-bottom: 0.5em;
    }
}
