.portrait-holder {
    display: inline-block;
    float: right;
    margin-left: 1em;
    img {
        @include circled-image;
    }
    @include media-query($on-palm) {
        display: none;
    }
}
.clearfix { @extend %clearfix; }

.quicknav {
    display: block;
    width: 100%;
    text-align: left;

    > a {
        vertical-align: top;

        $num-boxes: 2;
        $margin: 2em;

        width: calc(100% - #{$margin});
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
        margin-bottom: 1em;
        margin-left: $margin;
        display: inline-block;
        transition: color $transition-time, padding-left $transition-time;
        box-shadow: none;

        .item-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: larger;
            margin-right: 1em;
        }

        .item-description {
            left: 3em;
            opacity: 0;
            position: relative;
            transition: left $transition-time, opacity $transition-time;
        }

        &:hover {
            text-decoration: none;
            color: $text-color;
            img {
                filter: none; -webkit-filter: none;
                opacity: 1.0;
            }
            .item-description {
                left: 0;
                opacity: 1;
                transition: left $transition-time, opacity $transition-time;
            }
            padding-left: 1em;
            transition: padding-left $transition-time;
        }

        @include media-query($on-palm) {
            display: block;
            width: 100%;
            margin-bottom: 0;
            &:not(:last-child) {
                margin-bottom: 1em;
            }
            padding-bottom: 1px;
        }

    }
    img {
        filter: brightness(0); -webkit-filter: brightness(0);
        opacity: 0.5;
        width: 2em;
        margin-right: 1em;
        margin-bottom: 0.5em;
        transition: filter $transition-time, -webkit-filter $transition-time, opacity $transition-time;
    }
}
