.skill-category {
    margin-bottom: 2em;
}
.skill-helptext {
    @include media-query($on-palm) {
        display: none;
    }
}
.skill-helptext-mobile {
    display: none;
    @include media-query($on-palm) {
        display: block;
    }
}
.skill-explanation {
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    width: 80%;
    margin: 0 auto;


    // Hidden when not active-skill
    visibility: hidden;
    height: 0;
    padding: 0;
    transition: padding $transition-time ease-out, margin-top $transition-time ease-out;
    
    &.active-skill {
        visibility: visible;
        height: auto;
        padding: 1em;
        margin-top: 1em;
    }

    // Don't have a space after the last paragraph
    p:last-child {
        margin-bottom: 0;
    }
}
.skill-line {
    display: block;
    width: 100%;
    text-align: center;
    img {
        width: 8em;
        padding: 0 1em;
        opacity: 0.4;
        transition: opacity $transition-time linear;
        &:hover {
            opacity: 1;
        }
        @include media-query($on-palm) {
            width: 25%;
            padding: 0;
        }
    }
    margin-bottom: 0.5em;
}
