p {
    margin-top: 0;
}

.page-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: calc(max(400px, 50vw - 420px));
    left: calc(50vw - 420px - max(400px, 50vw - 420px));
}

.page-bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image set in HTML, using resource path */
    background-size: 100% 100%;
    mask-image: linear-gradient(to right, rgb(0 0 0 / 100%), rgb(0 0 0 / 50%) 25%, transparent);
}

.page-bg-leaves {
    position: absolute;
    z-index: -1;
    top: 0;
    right: calc(50vw + 420px);
    opacity: 0.25;
}
